data/logs/
data/mitogenomes/*.fasta.amb
data/mitogenomes/*.fasta.ann
data/mitogenomes/*.fasta.bwt
data/mitogenomes/*.fasta.pac
data/mitogenomes/*.fasta.sa
data/raw_reads_symlinks/
resources/
results/
tmpConsensi.fa
*.html
.cache/
.java/
.snakemake/
.test/data/references/repeat*
.test/data/references/*bed
.test/data/references/*dict
.test/data/references/*amb
.test/data/references/*ann
.test/data/references/*bwt
.test/data/references/*fai
.test/data/references/*pac
.test/data/references/*sa
.test/data/references/*genome
.test/data/references/*upper.fasta
.test/data/references/gerp