results/
data/logs/
data/raw_reads_symlinks/
data/mitogenomes/*.fasta.amb
data/mitogenomes/*.fasta.ann
data/mitogenomes/*.fasta.bwt
data/mitogenomes/*.fasta.pac
data/mitogenomes/*.fasta.sa

config/
!config/config.yaml
!config/cluster.yaml
!config/historical_samples_paths.txt
!config/modern_samples_paths.txt
!config/chrX_candidate_scaffolds.txt

.test/data/references/
!.test/data/references/*.fasta
!.test/data/references/*.gtf

*.html

.snakemake/
