results/
data/logs/
data/raw_reads_symlinks/
data/mitogenomes/*.fasta.amb
data/mitogenomes/*.fasta.ann
data/mitogenomes/*.fasta.bwt
data/mitogenomes/*.fasta.pac
data/mitogenomes/*.fasta.sa

*.html

.snakemake/
